*{
  margin: 0;
  box-sizing: border-box;
}

body{
  
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: #fff;

}

h2{
  font-size: 2rem;
}

textarea{
  display: none;
}


.cm-line{
  color: #fff;
}